{% extends "auctions/base.html" %}
{% load static %}

{% block title %}
    Categories
{% endblock %}

{% block header %}
    Categories
{% endblock %}

{% block subheader %}
{% endblock %}

{% block body %}
    {% for id, label in categories.items %}
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-lg-4 col-sm-12">
            <a href="{% url 'show_categories' id %}">
                <div class="category-card shadow-sm text-black">
                    {{ label }}
                </div>
            </a>

        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
{% endblock %}