{% extends "auctions/base/base.html" %}
{% load static %}

{% block title %}
    Auctions
{% endblock %}

{% block header %}
    Active Listings
{% endblock %}

{% block subheader %}
    See all active listings
{% endblock %}

{% block body %}
        {% for auction in auctions %}
        {% if forloop.first %}<div class="row">{% endif %}

        <div class="col-lg-4 col-sm-12 d-flex align-items-stretch py-5">
            <!-- Picture -->
            <div class="index-card">
                <a href="{% url 'show_auction' auction.id %}" class="index-link">
                <img src="{% static auction.url %}" class="card-img-top img-show_auction" alt="{{ auction.title }}">
                <div class="flex">
                    {% if auction.is_active %}
                        <div class="active-tag">
                            <i class="fa-solid fa-circle active-circle"></i>
                            active
                        </div>
                    {% else %}
                        <div class="inactive-tag">
                            <i class="fa-solid fa-circle inactive-circle"></i>
                            inactive
                        </div>
                    {% endif %}
                </div>
                <!-- Card Body -->
                <div class="card-body">

                    <h5 class="card-title">{{ auction.title}}</h5>
                    <p class="card-text">{{ auction.description | safe }}<a href="{% url 'show_auction' auction.id %}">...</a></p>
                    <p class="price-index">{{ auction.price }}€</p>
                </div>
                <div class="flex">
                    <div class="category-tag mb-2">
                        {{ auction.category }}
                    </div>
                </div>
                </a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    <script src="https://kit.fontawesome.com/a0663bb1bc.js" crossorigin="anonymous"></script>
{% endblock %}
