{% extends "auctions/base.html" %}
{% load static %}

{% block head_tag %}
<link href="{% static 'auctions/css/show.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}
    {{ auction.title }}
{% endblock %}

{% block header %}
    {{ auction.title }}
{% endblock %}


{% block body %}
    <div class="row py-5">
        <div class="col-lg-2 col-sm-0"></div>
        <div class="col-lg-8 col-sm-12">
            <div class="section d-flex align-content-center">
                <img src="{% static auction.url %}" class="card-img-top resize" alt="{{ auction.title }}">
            </div>

            <!-- Overview Section -->
            {% include 'auctions/includes/show/overview.html' %}

            <!-- Details Section -->
            {% include 'auctions/includes/show/details.html' %}

            <!-- Bid Section -->
            {% include 'auctions/includes/show/bids.html' %}

            <!-- Description Section -->
            {% include 'auctions/includes/show/description.html' %}

            <!-- Comment Section -->
            {% include 'auctions/includes/show/comments.html' %}
        </div>
        <div class="col-lg-2 col-sm-0"></div>
    </div>

    <!-- Page Modals -->
    {% include 'auctions/includes/show/modals.html' %}
{% endblock %}
