{% extends "auctions/base/base.html" %}
{% load static %}

{% block head_tag %}
<link href="{% static 'auctions/css/show.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}
    {{ auction.title }}
{% endblock %}

{% block header %}
    {{ auction.title }}
{% endblock %}

{% block subheader %}
{% endblock %}

{% block body %}
    {% if winner %}
    <div class="alert alert-success">
        Congratulations, You have won this auction for {{ auction.price }}
    </div>
    {% endif %}

    <div class="row py-5">
        <div class="col-lg-2 col-sm-0"></div>
        <div class="col-lg-8 col-sm-12">
            <div class="card align-items-center">
                <img src="{% static auction.url %}" class="card-img-top resize" alt="{{ auction.title }}">
            </div>

            <div class="card">
                <div class="card-body">
                    <h1 class="title">{{ auction.title }}</h1>
                    <h1 class="price">{{ auction.price }}€</h1>
                    <p class="category-tag">{{ auction.category }}</p>
                    <table class="my-3 tabel-overview">
                        <tr>
                            <td><i class="fa-solid fa-map-location-dot"></i></td>
                            <td colspan="3">
                                <p class="card-text">
                                    {{ auction.user.postcode }}
                                    {{ auction.user.city }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-calendar"></i></td>
                            <td class="cell"><p class="card-text">{{ auction.end }}</p></td>
                            <td><i class="fa-solid fa-eye"></i></td>
                            <td><p class="card-text">{{ auction.view_count }}</p></td>
                        </tr>
                    </table>
                    {% if authenticated %}
                        {% if on_watchlist %}
                            <a class="watchlist my-3" href="{% url 'remove_watchlist' auction.id %}">Remove from Watchlist</a>
                        {% else %}
                            <a class="watchlist my-3" href="{% url 'add_watchlist' auction.id %}">Add to Watchlist</a>
                        {% endif %}
                    {% endif %}

                    {% if owner and has_bids and auction.is_active %}
                        <br>
                        <a type="button" class="link-danger my-3" data-bs-toggle="modal" data-bs-target="#closeAuctionModal">
                            Close Auction
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="section">
                <h1 class="subheader">Details</h1>
                <table class="card-body">
                    <tbody class="my-3 table-details">
                        <tr>
                            <td><i class="fa-solid fa-user-pen"></i></td>
                            <td>{{ auction.user.first_name }} {{ auction.user.last_name }}</td>

                            <td><i class="fa-solid fa-repeat"></i></td>
                            <td>{{ auction.state }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-boxes-stacked"></i></td>
                            <td class="cell">{{ auction.category }}</td>

                            <td><i class="fa-solid fa-people-carry-box"></i></td>
                            <td>{{ auction.shipping }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="my-3 table-details">
                    <tbody>
                        <tr>
                            <td><i class="fa-regular fa-calendar-plus"></i></td>
                            <td colspan="2" class="cell-text">{{ auction.start }}&nbsp;&nbsp;<b>-</b>&nbsp;</td>
                            <td><i class="fa-regular fa-calendar-xmark"></i></td>
                            <td colspan="2">{{ auction.end }}</td>
                        </tr>
                    </tbody>
                </table>
                    {% if auction.is_active %}
                        <div class="active-tag shadow-sm">
                            <i class="fa-solid fa-circle active-circle"></i>
                            active
                        </div>
                    {% else %}
                        <div class="inactive-tag shadow-sm">
                            <i class="fa-solid fa-circle inactive-circle"></i>
                            inactive
                        </div>
                    {% endif %}
                    <div>
                        <p class="d-flex align-items-center justify-content-end">Anzeigennr. {{ auction.id }}</p>
                    </div>
            </div>
            <hr/>

            <div class="section">
                <h1 class="card-title">Bids</h1>
                {% if authenticated %}
                    {% if auction.is_active %}
                    <form action="{% url 'place_bid' auction.id %}" method="post" class="form-group">
                        {% csrf_token %}
                        <input type="number" class="form-control" placeholder="Current Price: {{ auction.price }}" required name="price" min="{{ auction.price }}" step="1.00" pattern="^\d+(?:\.\d{1,2})?$">
                        <input type="submit" class="form-control" value="Place Bid">
                    </form>
                    {% else %}
                        <div class="alert alert-warning">
                            This Auction is already closed.
                        </div>
                    {% endif %}
                {% endif %}
                {% if bids %}
                    {% for bid in bids reversed %}
                        {% if forloop.first %}<div class="row">{% endif %}
                        <div class="col-lg-6 col-sm-12">
                            <div class="bid shadow-sm">
                                <table class="bid-table">
                                    <tr>
                                        <div class="mx-3">
                                            <td class="bid-price" style="padding-right: 1rem" rowspan="2">{{ bid.price }}€</td>
                                        </div>
                                        <td style="padding-left: 1rem"><i class="fa-solid fa-user-pen"></i></td>
                                        <td>{{ bid.user.first_name }} {{ bid.user.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 1rem"><i class="fa-solid fa-calendar-days"></i></td>
                                        <td>{{ bid.date }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
                        {% if forloop.last %}</div>{% endif %}
                    {% endfor %}
                {% else %}
                    <p>No bids.</p>
                {% endif %}
            </div>

            <hr/>

            <div class="section">
                <h1 class="subheader">Description</h1>
                <p class="card-body">
                    {{ auction.description | safe }}
                </p>
            </div>

            <hr/>

            <div class="section">
                <h1 class="subheader">Comments</h1>
                {% if comments %}
                    {% for comment in comments reversed %}
                        <h3>{{ comment.title }}</h3>
                        <p>{{ comment.comment }}</p>
                        <p>{{ comment.user.username }}</p>
                        <p>{{ comment.date }}</p>
                    {% endfor %}
                {% else %}
                    <p>No comments.</p>
                {% endif %}
                {% if auction.is_active and authentificated %}
                    <details>
                        <summary class="btn btn-danger">Create a Comment</summary>
                        <form action="" class="form-group">
                            {{ comment_form }}
                        </form>
                    </details>
                {% endif %}

            </div>
        </div>
        <div class="col-lg-2 col-sm-0"></div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="closeAuctionModal" tabindex="-1" aria-labelledby="closeAuctionLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="closeAuctionLabel">Close your Auction</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>If you close your auction, the last bidder will win this auction.</p>
              <p>Are you sure, that you want to close your auction?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
            <a href="{% url 'close_auction' auction.id %}" class="btn btn-danger">Close Auction</a>
          </div>
        </div>
      </div>
    </div>
    <link href="https://api.fontshare.com/css?f[]=satoshi@400&amp;display=swap" rel="stylesheet">
{% endblock %}
