{% extends "auctions/base/base.html" %}
{% load static %}

{% block title %}
    {{ auction.title }}
{% endblock %}

{% block header %}
    {{ auction.title }}
{% endblock %}

{% block subheader %}
{% endblock %}

{% block body %}
    {% if winner %}
    <div class="alert alert-success">
        Congratulations, You have won this auction for {{ auction.price }}
    </div>
    {% endif %}

    <div class="row py-5">
        <div class="col-lg-2 col-sm-0"></div>
        <div class="col-lg-8 col-sm-12">
            <div class="card align-items-center">
                <img src="{% static auction.url %}" class="card-img-top" style="width: 35%" alt="{{ auction.title }}">
            </div>

            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{ auction.title }}</h1>
                    <h1 class="card-subtitle">{{ auction.price }}</h1>
                    <h1 class="card-subtitle">{{ auction.category }}</h1>
                    <p class="card-text">Adresse</p>
                    <p class="card-text">{{ auction.end }}</p>
                    <p class="card-text">Bids</p>
                    {% if authenticated %}
                        {% if on_watchlist %}
                            <a href="{% url 'remove_watchlist' auction.id %}">Remove to watchlist</a>
                        {% else %}
                            <a href="{% url 'add_watchlist' auction.id %}">Add to watchlist</a>
                        {% endif %}
                    {% endif %}

                    {% if owner and has_bids %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#closeAuctionModal">
                            Close Auction
                        </button>
                    {% endif %}
                </div>
            </div>

            <div class="card">
                <h1 class="card-title">Details</h1>
                <table class="card-body">
                    <tbody>
                        <tr>
                            <td>Author</td>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td>Shipping</td>
                            <td>Author</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card">
                <h1 class="card-title">Bids</h1>
                {% if authenticated %}
                    {% if auction.is_active %}
                    <form action="{% url 'place_bid' auction.id %}" method="post" class="form-group">
                        {% csrf_token %}
                        <input type="number" class="form-control" placeholder="Current Price: {{ auction.price }}" required name="price" min="{{ auction.price }}" step="1.00" pattern="^\d+(?:\.\d{1,2})?$">
                        <input type="submit" class="form-control" value="Place Bid">
                    </form>
                    {% else %}
                        <div class="alert alert-warning">
                            This Auction is already closed.
                        </div>
                    {% endif %}
                {% endif %}
                <h3 class="card-title">Bid History</h3>
                {% if bids %}
                    {% for bid in bids reversed %}
                        <h3>{{ bid.user.username }}</h3>
                        <p>{{ bid.price }} €</p>
                        <p>{{ bid.date }}</p>
                    {% endfor %}
                {% else %}
                    <p>No bids.</p>
                {% endif %}
            </div>

            <div class="card">
                <h1 class="card-title">Description</h1>
                <p class="card-body">
                    {{ auction.description }}
                </p>
            </div>

            <div class="card">
                <h1 class="card-title">Comments</h1>
                {% if comments %}
                    {% for comment in comments reversed %}
                        <h3>{{ comment.title }}</h3>
                        <p>{{ comment.comment }}</p>
                        <p>{{ comment.user.username }}</p>
                        <p>{{ comment.date }}</p>
                    {% endfor %}
                {% else %}
                    <p>No comments.</p>
                {% endif %}
                {% if authenticated %}
                <form action="{% url 'add_comment' auction.id %}" method="get">
                    <input type="submit" value="Create Comment">
                </form>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-2 col-sm-0"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="closeAuctionModal" tabindex="-1" aria-labelledby="closeAuctionLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="closeAuctionLabel">Close your Auction</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>If you close your auction, the last bidder will win this auction.</p>
              <p>Are you sure, that you want to close your auction?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
            <a href="{% url 'close_auction' auction.id %}" class="btn btn-primary">Close Auction</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
