.title {
  font-weight: 400;
}

.price {
  font-weight: 425;
  color: #0D9EFE;
}

.subheader {
  font-weight: 400;
  margin-bottom: 1rem;
}

.section {
  padding: 1rem 1rem;
}

tr, td {
  padding: 0.5rem;
}

.bid-table td {
  padding: 0.1rem;
  font-weight: 200;
}

.cell {
  padding-right: 2.5rem;
}

.bid {
  border: 1px lightgray solid;
  border-radius: 2rem;
  padding: 0.5rem 3rem;
  margin: 0.5rem;
  font-size: smaller;
}

.bid-price {
  border-right: 1px gray solid;
  font-size: 1.3rem;
  color: #0D9EFE;
}

