.title {
  font-weight: 400;
}

.price {
  font-weight: 425;
  color: #0D9EFE;
}

.subheader {
  font-weight: 400;
  margin-bottom: 1rem;
}

.section {
  padding: 1rem 1rem;
}

tr, td {
  padding: 0.5rem;
}

.bid-table td {
  padding: 0.1rem;
  font-weight: 200;
}

.cell {
  padding-right: 2.5rem;
}

.bid {
  border: 1px lightgray solid;
  border-radius: 2rem;
  padding: 0.5rem 3rem;
  margin: 0.5rem;
  font-size: smaller;
}

.bid-price {
  border-right: 1px gray solid;
  font-size: 1.3rem;
}

.place-bid {
  border: 1px lightgray solid;
  border-radius: 2rem;
  padding: 5px 30px;
  text-decoration: none;
  background-color: white;
}

.input-bid {
  border: 1px lightgray solid;
  border-radius: 2rem;
}

.create_comment {
  border: 1px lightgray solid;
  border-radius: 2rem;
  padding: 5px 30px;
  background-color: transparent;
}

.category {
  display: inline-block;
  border-radius: 25px;
  border-color: black;
  padding: 5px 30px;
}

.comment-form {
  border-radius: 2rem;
}

.comment {
  border: 1px lightgray solid;
  border-radius: 2rem;
  padding: 0.5rem 3rem;
}

.comment-header {
  font-size: 1.5rem;
  font-weight: 550;
}

.icon-bar {
  font-size: 0.8rem;
}
