.title {
  font-weight: 400;
}

.price {
  font-weight: 425;
  color: #198754;
}

.subheader {
  font-weight: 400;
  margin-bottom: 1rem;
}

.section {
  padding: 1rem 1rem;
}

th, td {
  padding: 0.3rem;
  font-family: "Fira Sans";
  font-weight: 350;
}


.cell {
  padding-right: 2.5rem;
}

