<div class="section">
    <div class="card-body">
        <h1 class="title">{{ auction.title }}</h1>
        <h1 class="price text-primary">{{ auction.price }}€</h1>
        <p class="category-tag">{{ auction.category }}</p>
        <table class="my-3 tabel-overview">
            <tr>
                <td><i class="fa-solid fa-map-location-dot"></i></td>
                <td colspan="3">
                    <p class="card-text">
                        {{ auction.user.postcode }}
                        {{ auction.user.city }}
                    </p>
                </td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-calendar"></i></td>
                <td class="cell"><p class="card-text">{{ auction.end }}</p></td>
                <td><i class="fa-solid fa-eye"></i></td>
                <td><p class="card-text">{{ auction.view_count }}</p></td>
            </tr>
        </table>

        {% if authenticated %}
            {% if on_watchlist %}
            <a class="watchlist my-3 shadow-sm" href="{% url 'remove_watchlist' auction.id %}">Remove from Watchlist</a>
            {% else %}
            <a class="watchlist my-3 shadow-sm" href="{% url 'add_watchlist' auction.id %}">Add to Watchlist</a>
            {% endif %}
        {% endif %}

        {% if owner and has_bids and auction.is_active %}
        <br>
        <a type="button" class="link-danger my-3" data-bs-toggle="modal" data-bs-target="#closeAuctionModal">
            Close Auction
        </a>
        {% endif %}
    </div>
</div>