{% extends "auctions/base/base.html" %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block header %}
    {{ header }}
{% endblock %}

{% block subheader %}
    {{ subheader }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-3 col-sm-0"></div>
        <div class="col-lg-6 col-sm-12 form-group">
            <form action="{% url 'add_auction' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="row my-5">
                    <p class="my-2"><strong>General Information</strong></p>
                    <div class="my-1">
                        {{ form.title.label }}
                        {{ form.title }}
                    </div>
                    <div class="my-1">
                        {{ form.description.label }}
                        {{ form.description }}
                    </div>
                </div>

                <div class="row my-5">
                    <p class="my-2"><strong>Additional Information</strong></p>
                    <div class="row">
                        <div class="col-6 my-1">
                            {{ form.price.label }}
                            {{ form.price }}
                        </div>
                        <div class="col-6 my-1">
                            {{ form.category.label }}
                            {{ form.category }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 my-1">
                            {{ form.start.label }}
                            {{ form.start }}
                        </div>
                        <div class="col-6 my-1">
                            {{ form.end.label }}
                            {{ form.end }}
                        </div>
                    </div>
                </div>

                <div class="row my-5">
                    <p class="my-2"><strong>Optional Information</strong></p>
                    <div class="row">
                        <div class="col-6 my-1">
                            Shipping Method
                            {{ form.shipping }}
                        </div>
                        <div class="col-6 my-1">
                            Image
                            {{ form.img }}
                        </div>
                    </div>
                </div>
                <input type="submit" value="Create" class="btn btn-primary">
            </form>
        </div>
        <div class="col-lg-3 col-sm-0"></div>
    </div>
{% endblock %}