{% extends "auctions/base/base.html" %}
{% load crispy_forms_filters %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    {% load crispy_forms_tags %}

    <form action="{% url 'register' %}" method="post">
        <div class="form-group">
            <div>
                <label class="form-label" for="username">Username</label>
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>

            <div>
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div>
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div>
                <label class="form-label" for="confirmation">Confirm Password</label>
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
        </div>
        {% csrf_token %}
        {{ form.prefix | as_crispy_field }}
        {{ form.first_name | as_crispy_field }}
        {{ form.last_name | as_crispy_field }}
        {{ form.gender | as_crispy_field }}
        {{ form.age | as_crispy_field }}
        {{ form.birthday | as_crispy_field }}

        {{ form.street | as_crispy_field }}
        {{ form.house_number | as_crispy_field }}
        {{ form.postcode | as_crispy_field }}
        {{ form.city | as_crispy_field }}

        {{ form.username | as_crispy_field }}
        {{ form.email | as_crispy_field }}
        {{ form.password | as_crispy_field }}
        <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">

        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}